GEODATA_DIR='__HOME__/.config/mihomo'
GEODATA_TIMEOUT='600'

GEOIP_URL='https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.metadb'
GEOIP_DAT_URL='https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.dat'
GEOSITE_URL='https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat'

CONTROLLER_URL='http://127.0.0.1:9097'
CONTROLLER_SECRET='REPLACE_WITH_A_RANDOM_SECRET'
SERVICE_NAME='mihomo.service'
RESTART_ON_RELOAD_FAIL='0'
