SUBSCRIPTION_URL='REPLACE_WITH_YOUR_SUBSCRIPTION_URL'
SUBSCRIPTION_USER_AGENT='Clash.Meta'
REQUEST_TIMEOUT='30'
GEODATA_TIMEOUT='600'

OVERRIDE_CONFIG='__HOME__/.config/mihomo/override.yaml'
OUTPUT_CONFIG='__HOME__/.config/mihomo/config.yaml'
SUBSCRIPTION_CACHE='__HOME__/.config/mihomo/subscription.yaml'
BACKUP_CONFIG='__HOME__/.config/mihomo/config.yaml.bak'
MIHOMO_BIN='/opt/mihomo/mihomo'
GEODATA_DIR='__HOME__/.config/mihomo'
GEOIP_URL='https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.metadb'

CONTROLLER_URL='http://127.0.0.1:9097'
CONTROLLER_SECRET='REPLACE_WITH_A_RANDOM_SECRET'
SERVICE_NAME='mihomo.service'
RESTART_ON_RELOAD_FAIL='0'
VALIDATE_TIMEOUT='180'
